/*.container{
    background-color: #3498db;
}*/

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");
/*Body*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
       
}


li, a, button{
    font-family: 'Baloo Bhaijaan 2';
    font-weight: 500;
    font-size: 16px;
    color:aliceblue;
    text-decoration: none;

}

/*.BMSTest{
    padding-right: 100px;
}*/


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: rgb(2, 28, 77);
    
}

/*body{
    background-image: url('background.png')
}*/



.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover {
    color: rgba(70, 161, 214, 0.788);
}

button{
    padding: 9px 25px;
    background-color: rgb(26, 41, 107);
    border: none;
    border-radius: 50px;


}