

.Searchstyle1{
   padding-right: 50px;
   margin-left: 450px;
   margin-top: 20px;
   
    
}

.Searchstyle div{
    display: inline-block;
}


.blogArea {
    
    padding-top:20px;
    padding-bottom:5px;
    width: 90%;
    height: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px;
    
  }

  